@use '../../styles/globals.scss' as *;


#navbar {
    background-color: $bgColor;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 2vw;
    padding: 0 2vw;
    align-items: center;

    #logo {
        @include set-width(123px, 185px);
        @include set-height(40px, 60px);
    }

    #menu {
        background-color: $bgColor;
        border: none;
        @include set-font-size(12px, 24px);
        color: #263238;
        font-family: Vazir;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    #menuAndLogo{
        display: flex;
        @include set-width(123px, 500px);
        justify-content: space-between;
    }
}