@font-face {
  font-family: Vazir;
  src: url("../public/fonts/Vazir-Medium.ttf") format("truetype");
}

#__next {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Vazir;
}

// body {

// }


$mainColor : #07CE65;
$whiteColor : #FFFFFF;
$secoundColor : #0074FF;
$bgColor : #EBF5F4;
$textColor : #263238;
$greyTextColor : #737373;


// // Deafult Styling

// body{
//   background-color: var(--bgColor);
//   // display: flex;
//   // align-items: center;
// }

@function remove-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin set-width($mobileSize , $desktopSize) {
  @media (max-width: 1000px) {
    width: $mobileSize;
  }

  // @media (min-width: 341px) and (max-width: 1280px) {
  //   width: calc($mobileSize + (remove-unit($desktopSize) - remove-unit($mobileSize)) * ((100vw - 340px) / (1280 - 340)));
  // }

  @media (min-width: 1000px) {
    width: $desktopSize;
  }
}

@mixin set-height($mobileSize , $desktopSize) {
  @media (max-width: 1000px) {
    height: $mobileSize;
  }

  // @media (min-width: 341px) and (max-width: 1280px) {
  //   height: calc($mobileSize + (remove-unit($desktopSize) - remove-unit($mobileSize)) * ((100vw - 340px) / (1280 - 340)));
  // }

  @media (min-width: 1000px) {
    height: $desktopSize;
  }
}

@mixin set-font-size($mobileSize , $desktopSize) {
  @media (max-width: 1000px) {
    font-size: $mobileSize;
  }

  // @media (min-width: 341px) and (max-width: 1280px) {
  //   font-size: calc($mobileSize + (remove-unit($desktopSize) - remove-unit($mobileSize)) * ((100vw - 340px) / (1280 - 340)));
  // }

  @media (min-width: 1000px) {
    font-size: $desktopSize;
  }
}

.mainBtn {
  font-family: Vazir;
  background-color: $mainColor;
  color: $whiteColor;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  @include set-height(40px, 45px);
  @include set-font-size(15px, 18px);
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 500;
}

.secondBtn {
  color: $secoundColor;
  text-align: center;
  font-family: Vazir;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-color: $secoundColor;
  stroke-width: 3px;
  padding-left: 11px;
  padding-right: 11px;
  @include set-font-size(15px, 18px);
  cursor: pointer;
  border-radius: 10px;
  @include set-height(40px, 45px);
}