@font-face {
  font-family: Vazir;
  src: url("../public/fonts/Vazir-Medium.ttf") format("truetype");
}
#__next{
    padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Vazir;
}

// body {

// }


  $mainColor : #07CE65;
  $whiteColor : #FFFFFF;
  $secoundColor : #0A615A;
  $bgColor : #EBF5F4;
  $textColor : #2B3857;
  $greyTextColor : #737373;


// // Deafult Styling

// body{
//   background-color: var(--bgColor);
//   // display: flex;
//   // align-items: center;
// }

@function remove-unit($value) {
@return $value / ($value * 0 + 1);
}

@mixin set-width($mobileSize , $desktopSize) {
@media (max-width: 340px) {
  width: $mobileSize;
}

@media (min-width: 341px) and (max-width: 1280px) {
  width: calc($mobileSize + (remove-unit($desktopSize) - remove-unit($mobileSize)) * ((100vw - 340px) / (1280 - 340)));
}

@media (min-width: 1281px) {
  width: $desktopSize;
}
}
@mixin set-height($mobileSize , $desktopSize) {
@media (max-width: 340px) {
  height: $mobileSize;
}

@media (min-width: 341px) and (max-width: 1280px) {
  height: calc($mobileSize + (remove-unit($desktopSize) - remove-unit($mobileSize)) * ((100vw - 340px) / (1280 - 340)));
}

@media (min-width: 1281px) {
  height: $desktopSize;
}
}
@mixin set-font-size($mobileSize , $desktopSize) {
@media (max-width: 340px) {
  font-size: $mobileSize;
}

@media (min-width: 341px) and (max-width: 1280px) {
  font-size: calc($mobileSize + (remove-unit($desktopSize) - remove-unit($mobileSize)) * ((100vw - 340px) / (1280 - 340)));
}

@media (min-width: 1281px) {
  font-size: $desktopSize;
}
}

.mainBtn{
  font-family: Vazir;
  background-color: $mainColor;
  color: $whiteColor;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  @include set-width(97px, 162px);
  @include set-height(30px, 50px);
  @include set-font-size(12px, 20px);
  font-weight: 500;
  font-size: normal;
}

